    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Nunito', sans-serif;
    }
    
    .header {
        background: rgb(232, 232, 232);
    }
    
    header h1 {
        text-align: center;
    }
    
    #logo {
        width: 225px;
        border: 2px solid black;
    }
    
    #MenuItems a {
        font-weight: bold;
        font-size: 20px;
    }
    
    header img {
        width: 225px;
    }
    
    .nav {
        display: flex;
        padding: 20px;
        align-items: center;
    }
    
    nav {
        text-align: right;
        flex: 1;
    }
    
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    a {
        text-decoration: none;
        color: #555;
    }
    
    .sub {
        display: none;
    }
    
    .active,
    nav ul li a:hover {
        background: rgba(255, 95, 136, 0.5);
        border-radius: 3px;
        height: 20px;
    }
    
    nav ul li:hover .sub {
        display: block;
        position: absolute;
        background: rgb(232, 232, 232);
        margin-top: 15px;
        margin-left: -15px;
    }
    
    nav ul li:hover .sub ul {
        display: block;
        margin: 10px;
    }
    
    nav ul li:hover .sub ul li {
        width: 150px;
        padding: 10px;
        border-bottom: 1px dotted gray;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }
    
    p {
        color: #555;
    }
    
    .contain {
        margin: auto;
        max-width: 1300px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .row {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col {
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col img {
        max-width: 100%;
        opacity: 0.8;
    }
    
    .col h1 {
        margin: 25px 0;
        font-size: 40px;
        line-height: 60px;
        margin-left: 30px;
    }
    
    .btn {
        display: inline-block;
        background: rgba(255, 95, 136, 0.5);
        color: black;
        margin: 30px 0;
        padding: 8px 30px;
        border-radius: 30px;
        margin-left: 30px;
        border-style: none;
    }
    
    .btna {
        display: inline-block;
        background: rgba(223, 72, 110, 0.8);
        color: black;
        margin: 30px 0;
        padding: 8px 30px;
        border-radius: 30px;
        margin-left: 30px;
        cursor: pointer;
        border-style: none;
    }
    
    .btna:hover {
        background: rgba(243, 11, 69, 0.9);
    }
    
    .btn:hover {
        background: rgba(255, 106, 171, 0.9);
    }
    
    #cart {
        width: 30px;
        height: 30px;
        opacity: 0.6;
    }
    
    .categories {
        margin: 70px 0;
    }
    
    .col-3 {
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .col-3 img {
        width: 100%;
    }
    
    .small-container {
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .title {
        position: relative;
        margin: 0 auto 80px;
        text-align: center;
        line-height: 60px;
        color: maroon;
    }
    
    .title::after {
        content: "";
        background: black;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    h4 {
        font-weight: normal;
        color: maroon;
    }
    
    .col-4 {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
    }
    
    .col-4 img {
        width: 100%;
    }
    
    .col-4 p {
        font-size: 14px;
    }
    
    .col-4:hover {
        transform: translateY(-5px);
    }
    
    .container2 {
        background-color: black;
        font-size: 14px;
        padding: 60px 0 20px;
        min-height: 40px;
    }
    
    .container2 p {
        color: white;
    }
    
    .container2 h3 {
        color: white;
        margin: 20px;
    }
    
    .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px;
    }
    
    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4 {
        min-width: 250px;
        margin-bottom: 20px;
    }
    
    .footer-col-1 {
        flex-basis: 30%;
    }
    
    .footer-col-2 {
        flex: 1;
        text-align: center;
    }
    
    .footer-col-3,
    .footer-col-4 {
        flex-basis: 12%;
        text-align: center;
        color: white;
    }
    
    ul {
        list-style-type: none;
    }
    
    .iconify {
        color: black;
        margin: 60px;
        width: 70px;
        height: 50px;
    }
    
    .alogo {
        margin-top: 20px;
    }
    
    .alogo img {
        width: 140px;
    }
    
    .container hr {
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }
    
    .copy {
        margin-top: 20px;
        text-align: center;
    }
    
    .menu {
        width: 28px;
        margin-left: 30px;
        display: none;
    }
    
    .page-btn {
        margin: 0 60px 80px 30px;
    }
    
    .page-btn span {
        display: inline-block;
        border: 1px solid #ff523b;
        margin: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        align-items: center;
    }
    
    .page-btn span:hover {
        background: #ff523b;
        color: #fff;
    }
    /* single product details*/
    
    .single {
        margin-top: 80px;
    }
    
    .single .col-2 {
        padding-left: 30px;
    }
    
    .small-img-row {
        display: flex;
        justify-content: space-between;
    }
    
    .cart {
        margin: 80px auto;
    }
    
    .t1 {
        border-collapse: collapse;
        background-color: rgba(255, 106, 171, 0.4);
        color: black;
    }
    
    .t2 {
        width: 150px;
        border-collapse: collapse;
        background-color: rgba(255, 106, 171, 0.4);
        color: black;
        text-align: center;
    }
    
    .cinfo img {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    th {
        width: 300px;
        text-align: center;
        padding: 5px;
        color: white;
    }
    
    td {
        text-align: center;
    }
    
    td>input {
        width: 40px;
        height: 30px;
        padding-right: 5px;
        text-align: center;
    }
    
    td a {
        color: red;
        font-size: 12px;
    }
    
    .total {
        display: flex;
        justify-content: flex-end;
    }
    
    .contain-abt {
        margin: 20px;
        background: rgba(255, 106, 171, 0.4);
        padding: 20px;
    }
    
    .column-1,
    .column-2 {
        min-width: 300px;
        margin-top: 20px;
        flex-basis: 50%;
        font-size: 20px;
        padding: 10px;
    }
    /*---media query for menu--*/
    
    @media only screen and (max-width:800px) {
        nav ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: rgb(240, 240, 240);
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s;
        }
        nav ul li {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav ul li a {
            color: black;
            font-weight: bold;
        }
        .menu {
            display: block;
            cursor: pointer;
        }
    }
    
    @media only screen and (max-width:600px) {
        .row {
            text-align: center;
        }
        .col-2,
        .col-3,
        .col-4 {
            flex-basis: 100%;
        }
        .cinfo p {
            display: none;
        }
        .contain-abt img {
            width: 300px;
            height: 300px;
        }
        .contain-abt video {
            width: 250px;
            height: 250px;
        }
        .footer-col-1 img {
            margin: auto;
        }
        .footer-col-2 img {
            margin: auto;
        }
    }